@font-face {
    font-family: 'iconfont';  /* project id 1586768 */
    src: url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.eot');
    src: url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1586768_ikngr9ex0b.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }